.Splash {
  background-color: #e6e3dd;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;

  color: #e9dcf8;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  min-height: 100vh;
  justify-content: center;
}

.ver {
  font-size: 20px;
}

.title-link{
  color: #e9dcf8 !important;
  text-decoration:none;
}